DB_HOST="localhost"
DB_PORT="5433"
DB_NAME="data_ingestion"
DB_USERNAME="postgres"
DB_PASSWORD="" # input

LOG_DIRECTORY_PATH="logs"
APP_LOG_FILE_NAME="app.log"
TESTS_LOG_FILE_NAME="tests.log"

SQL_STATEMENTS_PATH="resources/db/statements"
